%h2 Portfolio

.albums
  - @albums.each do |album|
    - if album.pictures.any?
      .album
        %a{:href => album_picture_path(album, album.pictures.first)}
          = image_tag album.pictures.first.photo.url(:large)
          .name= album.name
  .clear      