%h1 Listing Areas

%table
  %tr

  - for area in @areas
    %tr
      %td= area.name
      %td= link_to 'Show Public Site', [area, Page.new]
      %td= link_to 'Edit Main Page', edit_admin_area_path(area)
      %td= link_to 'Edit Sub Pages', admin_area_pages_path(area)

%br/
