%h2 #{@picture.album.name}

.main-image
  = image_tag @picture.photo.url()
  
.other-images
  - @picture.album.pictures.each do |picture|
    %a{:href => album_picture_path(@picture.album, picture), :rel => "lightbox"}
      = image_tag picture.photo.url(:thumb)
  
-# %p
-#   %a{:href => "/albums"} Back to the Portfolio