%h1 Listing people

%table
  %tr
  - for person in @people
    %tr
      %td.name= person.name
      %td.show= link_to 'Show', edit_admin_person_path(person)
      %td.delete= link_to 'Destroy', admin_person_path(person), data: {:confirm => 'Are you sure?'}, :method => :delete

%br/

= link_to 'New person', new_admin_person_path
