body.admin {
  margin: auto;
  padding-top: 20px;
  width: 500px;
  
  table {
    td {
      padding: 5px 20px 5px 0px;
    }
    .name {
      width: 50%;
    }
  }
  .delete {
    &:hover a {
      color: red;
    }
  }
  form {
    .widget {
      margin-bottom: 10px;
    }
    input[type="text"], textarea {
      font-size: 16px;
      padding: 5px;
      width: 100%;
    }
    textarea {
      height: 200px;
    }
  }
  .image-preview {
    margin-bottom: 20px;
    img {
      display: inline-block;
    }
    .delete {
      display: inline-block;
    }
  }
  .add-new-images {
    margin: 20px 0px;
  }
}