// COLORS

$slate: #95A1AA;
$black: #111;
$white: lighten($slate, 35%);
$dark-slate: #383C40;

$nav-highlight: lighten($slate, 30%);


// WIDTHS

$break: 700px;

$normal-width: 600px;


// FONTS
@import url(https://fonts.googleapis.com/css?family=Lora);
$serif: "Lora", serif;
$sans-serif: Helvetica, sans-serif;