// VARIABLES

$slate: #95A1AA;
$beige: #FAF8F5;
$dark-beige: #D9D3CA;
$dark-grey: #383C40;
$light-grey: #676F76;

$primary: $slate;
$anchor: $slate;


$break: 700px;

/////////////////

body {
  margin: 0;
  padding: 0 0 50px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 15px;
  color: $dark-grey;
  background: $beige;
}

h2 {
  margin-top: 0;
  color: $primary; 
  font-weight: 200;
}

h3, h4 {
  color: $light-grey;
}

p {
  line-height: 17px; 
}

a {
  text-decoration: none;
  color: $anchor; 
  &:hover {
    color: darken($anchor, 20%);
  }
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

li {
  list-style: none;
}

.clear {
  clear: both; 
}

///////////////////////////////////


#page {
  background: white;
  @media screen and (min-width: $break) {
    width: 900px;
    min-height: 600px;
    margin: auto;
    padding: 0px 50px;
    box-shadow: 1px 1px 3px $dark-beige;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  @media screen and (max-width: $break) {
    background: $beige;
  }
  #header {
    @media screen and (min-width: $break) {
      padding: 30px 30px 30px 25px;
    }
    @media screen and (max-width: $break) {
      padding: 30px 10px 10px;
      border-bottom: 5px solid $dark-beige;
      margin-bottom: 15px;
    }
    background: white;
    #logo {
      float: left;
      h1 {
        width: 208px;
        height: 50px;
        margin: 0;
        background: url(/images/logo.gif) no-repeat;
        text-indent: -9999px;
      }
    }
    #nav {
      font-size: 15px;
      @media screen and (min-width: $break) {
        float: right;
        margin-top: 12px;
      }
      #button {
        display: none;
        @media screen and (max-width: $break) {
          display: block;
          float: right;
          color: white;
          background: $dark-beige;
          padding: 10px;
          font-size: 18px;
          cursor: pointer;
          border-radius: 2px;
          text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
          -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px inset,rgba(255, 255, 255, 0.5) 0 1px;
          -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px inset,rgba(255, 255, 255, 0.5) 0 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 1px inset,rgba(255, 255, 255, 0.5) 0 1px;
        }
      }
      .links {
        @media screen and (max-width: $break) {
          display: inline-block;
          background: $dark-beige;
          width: 100%;
          margin-top: 10px;
        }
      }
      #items {
        @media screen and (max-width: $break) {
          display: none;
        }
      }
      a {
        @media screen and (min-width: $break) {
          float: left;
          display: block;
          padding-right: 15px;
          margin-left: 15px;
          &:not(:last-child) {
            border-right: 1px solid #E4DED4;
          }
        }
        @media screen and (max-width: $break) {
          display: block;
          // width: 100%;
          // background: $dark-beige;
          color: white;
          padding: 5px 0px 5px 10px;
          font-size: 20px;
          &:not(:last-child) {
            border-bottom: 1px solid $beige;
          }
        }
      }
    }
  }
  #sidebar {
    display: none;
    @media screen and (min-width: $break) {
      display: block;
      float: left;
      width: 240px;
      padding-left: 10px;
      margin-top: 45px;
    }
    img {
      border-bottom: 10px solid white; 
      border-radius: 2px;
    }
    .border {
      position: absolute;
      bottom: 0;
      width: 240px;
      height: 10px;
      background: white; 
    }
  }
  #main {
    @media screen and (min-width: $break) {
      float: right;
      width: 570px;
      padding: 0 30px 30px 30px;
    }
    @media screen and (max-width: $break) {
      margin: 0px 20px;
      background: white;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0px 1px 1px $dark-beige;
    }
    p {
      line-height: 25px;
    }
    #text.thin {
      @media screen and (min-width: $break) {
        width: 385px;
        float: left;
      }
    }
    #subnav {
      padding: 10px;
      text-align: center;
      @media screen and (min-width: $break) {
        float: right;
        margin: 40px 0px 20px 0px;
      }
      ul {
        margin: 0;
        padding: 0;
        li, > a {
          display: block;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          a {
            font-style: italic;
          }
        }
      }
    }
  }
}

body.home {
  margin-top: 8%;
  #page {
    width: 100%;
    padding: 0;
    #header {
      @media screen and (min-width: $break) {
        margin: auto;
        width: 720px;
      }
    }
    #main {
      width: 100%;
      padding: 0;
      padding-bottom: 60px;
      background: white;
      .montage {
        height: 199px;
        background: url(/images/home_banner.jpg) repeat-x; 
      }
    }
  }
}

.albums {
  z-index: 100;
  .album {
    float: left;
    height: 180px;
    padding: 10px 15px;
    h4 {
      margin-top: 5px;
      width: 90px;
      padding-right: 5px;
      font-size: 14px;
      text-decoration: none;
      margin-bottom: 0; 
    }
  }
  &.show #text > a {
    padding: 0px 10px 10px 0px;
    display: inline-block;
  }
}